/*------ header------*/
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(restaurante/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: 300px;
}
#iendereco:hover{
    cursor: text;
}
.burger-logo{
    margin: 10px;
    width: 160px;
    height: 160px;
    background-size:130%;
    border-radius: 50%;
    background-position: center;
    background-image: url(restaurante/hamb-1.png);
}
.principal-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 300px;
    width: 300px;
}
.verde-btn{
    font-weight: 600;
    margin: 15px;
    border-radius: 4px;
    padding: 7px;
    background-color: #54CC0A;
}
/*------ MAIN------*/
.title-main{
    display: flex;
    align-items: end;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 10pt;
}
main{
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background-color: #F6F7F8;
}
.produtos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    
}
.item-cardapio > img{
    border-radius: 6px;
    height: 100px;
}
.content-item{
    margin-left: 8px;
}
.item-cardapio{
    
    margin-bottom: 10px;
    font-size: 8pt;
    display: flex;
    align-items: center;
    padding: 9px;
}
::-webkit-scrollbar{
    width: 0;
}
input:hover{
    cursor: pointer;
}
button{
    border-radius: 7px;
    padding: 5px 8px 2px 8px;
    background-color: rgb(9, 11, 27);
    border: none;
    transition: all 0.3s ease;
}
button:hover{
    cursor: pointer;
    background-color: #54CC0A;
}
button img{
    width: 18px;
    height: 18px;
}
footer{
    flex: 1;
}
.modal-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.modal-item{
    width: 80%;
    padding: 15px;
    height: 50vh;
    background-color:  #ffffff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: start;

    
}
.modal-carrinho{
    height: 35vh;
    width: 99%;
    padding: 10px;
    overflow: scroll;
    box-sizing: border-box;

}
#item-car > h3{
    
    padding-bottom: 8px;
}
#item-car > p{
    font-weight: 600;
    
}
#item-car{
    display: flex;
    align-items: start;
   
    flex-direction: column;
    
}
.button-item{
    background-color:transparent; color: black;font-weight: 700; align-self: end;
    transition: transform 0.2 ease;
}
.button-item:hover{
    background-color: white;
    transform:scale(1.1);
}
label{  
    font-size: 12pt;
    font-weight: 600;
}

@media screen and (min-width: 780px){
    .produtos-container{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        align-items: center;
        justify-content: center;
    }
    .item-cardapio{
       width: 40%;
    }
    .modal-item{
       max-width: 600px;
    }
}
